@model Image.Models.Imagedata

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h3>Details of the image</h3>
<div>
    <h4>ImageModel</h4>
    <hr />
    <dl class="imagerow">
        <dt class="imagedetailname">
            Uploaded Image
        </dt>
        <dd class="imagedetail">
            <img src="@("~/image/"+Model.ImageUrl)" asp-append-version="true" width="650px" height="400px"/>
        </dd>
        <dt class="imagedetailname">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="imagedetail">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class="imagedetailname">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class="imagedetail">
            @Html.DisplayFor(model => model.Discription)
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Image">Back to list</a>
</div>
